@font-face {
  font-family: Avenir;
  src: url(../fonts/avenir/Avenir-Medium.ttf) format("opentype");
}

@font-face {
  font-family: trendy;
  src: url(../fonts/icons/trendy-icons.woff) format("opentype");
}
